AsianOptionsFSharp/Service References/AsianOptionsServiceFSharp/AsianOptionsFSharp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PAO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initial" type="xs:double" />
        <xs:element minOccurs="0" name="exercise" type="xs:double" />
        <xs:element minOccurs="0" name="up" type="xs:double" />
        <xs:element minOccurs="0" name="down" type="xs:double" />
        <xs:element minOccurs="0" name="interest" type="xs:double" />
        <xs:element minOccurs="0" name="periods" type="xs:int" />
        <xs:element minOccurs="0" name="runs" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PAOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PAOResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>